name: Cypress Tests

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Install Dependencies
      run: npm install
      
    - name: Start app 
      run: npm run dev &

    - name: Run Cypress Tests
      run: npx cypress run
